.intro {
  max-width: 720px;
  margin: 0 auto 64px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.intro__title {
  max-width: 830px;
  width: 100%;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  left: 148px;
  color: #ffffff;

}
.intro__subtitle {
  max-width: 738px;
  width: 100%;

  color: #ffffff;
}
.intro__subtitle-author {
  max-width: 732px;
  width: 100%;
  text-align: right;
  color: #ffffff;
}
.intro__text {
  max-width: 722px;
  width: 100%;
  font-family: Inter;
  font-weight: 400px;
  font-size: 16px;
  color: #ffffff;
  line-height: 163%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
    margin-bottom: 55px;
  }
  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    margin-top: 0;
  }
  .intro__subtitle {
    max-width: 720px;
    font-size: 24px;
    line-height: 34px;
  }
  .intro__subtitle-author {
    max-width: 720px;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
  }
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  
  .intro {
    padding: 0 16px;
    margin-bottom: 40px;
  }
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .intro__subtitle {
    max-width: 288px;
    line-height: 30px;
  }
  .intro__subtitle-author {
    max-width: 288px;
  }
  .intro__text {
    max-width: 288px;
  }
}
