.places {
  max-width: 984px;
  gap: 50px 50px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.places__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  color: #ffffff;
}

.places__website {
  align-self: end;
  color: #ffffff;
  width: 455px;
  height: 67px;
}

.places__url-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.12em;
  color: #aaaaaa;
  text-transform: uppercase;
}

.places__artist {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
}

.places__image {
  width: 100%;
  max-width: 460px;
  grid-column: 1;
  grid-row: 2;
}

.places__description {
  grid-column: 2;
  grid-row: 2;
}

.places__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  margin: 0 0 25px;
  color: #ffffff;
}

.places__paragraph:last-child {
  margin-bottom: 0;
}
.places__button {
  background: #0278fe;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  grid-column: 1;
  grid-row: 3;
  margin-top: 48px;
  max-width: 289px;
}
.places__button:hover {
  background: #0063d2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  .places__title {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 32px;
    padding: 0 16px;
    width: 340px;
    height: 46px;
  }
  .places__website {
    align-self: end;
    color: #ffffff;
    width: 352px;
    height: 67px;
  }

  .places__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    width: 58px;
    height: 15px;
    color: #aaaaaa;
    text-transform: uppercase;
  }

  .places__artist {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    margin: 0;
    width: 352px;
    height: 44px;
  }

  .places__description {
    padding: 0 16px;
    color: #ffffff;
  }
  .places__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.63;
    margin: 0 0 25px;
    color: #ffffff;
    width: 352px;
    height: 340px;
  }
  .places__website {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px 40px;
    margin: 88px auto 0;
  }

  .places__paragraph:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin-bottom: 100px;
    width: 320px;
    height: 481px;

  }
  .places__title {
    font-size: 32px;
    padding: 0 16px;
    width: 320px;
height: 481px
  }
  .places__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #aaaaaa;
    text-transform: uppercase;
    width: 288px;
    height: 15px;
  }
  .places__artist {
    width: 288px;
    height: 44px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
  }
  .place__image {
    max-width: 340px;
  }

  .places__website {
    width: 320px;
    height: 395px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
  }

  .places__description {
    padding: 0 16px;
    color: #ffffff;
  }

  .place__paragraph {
    width: 288px;
    height: 260px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    margin: 0 0 25px;
    color: #ffffff;
  }
}
